 *{
    padding:0;
    margin:0;
}

.footer__center h1 {
    color: whitesmoke;
    }
    .footer__center h4 {
        color: whitesmoke;
    }
    .footer__right{
        color: whitesmoke;
        padding-top: 50px;
        padding-right: 5%;
        button{
            color:white;
            background-color: #eea235;
        }
    }
        .footer__right__paragraph{
            font-family: 10px;
        }