*{
    padding:0;
    margin:0;
}
body{
    /* background-color:#A0E3BE */
}
.temp__card{
/* display: block;
justify-content: center;
margin-top: 25rem;
    justify-content: space-between;
    border-radius:10%;
    
    width: 300px;
    padding-left:40%; */
    width: 500px;
    padding-top: 1rem;
    display: block;
    margin: 0 auto;
    z-index: 10;
    border-radius: 10px;
    /* background-color: #A0E3BE; */
    box-shadow: 2px 2px 1px gray;
    margin-top: 24rem;
   
    height: 200px;
    
    


}
.input{
    display: flex;
    /* justify-content:space-around; */
    /* padding: 20px; */
}
.input p{
    margin:0 2em;
    
}
.input input{
    margin: 0 2rem 2rem 2rem;
    /* justify-content:space-evenly; */
padding:10px;
}
/* .temp__card{
    background-color: #BCEBD0;
    p{

    }
    h1{
        color: #12938F;  
    }
} */
.nav__items{
    display: flex;
}
.nav {
    display: flex;

    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    gap:50px;
    margin-top: 5%;
}
.active{
    background-color: #eea539;
    color: white;
    font-weight: bold;
    border-radius: 100px;

}
.nav h2{

    padding: .5em;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30em;
}
.items{
    justify-content: center;
    align-items: center;
    margin-left:30%;
    padding-top:5%;
     border-radius: 20px;
    background-color:#eea539;
    box-shadow: 2px 2px 1px 1px gray; 
    margin-right: 20%;
    padding-top:5% ;
    padding-bottom: 5%;
}
.nav__items{
    gap:30em;
}
.footer{
    background-color: #eea539;
}
.nav__items{
    background-color: #eea539;
}
.plans{
    padding: 20px;
      border-radius: 10px; 
    
    box-shadow: 2px 2px 1px  gray; 
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color:#eea539;
}
.bmi{
    display: none;
}
.input{
    justify-content: center;
    align-items: center;
    margin-left:5%;
}
.error{
    color: red;
    font-weight: bold;
    margin:1em 0;
    text-align: center;
}
/* .planitems__container{
    background-color: #EEA534;
  min-height: 20vh;
  right:5%;
  position:absolute;
} */