*{
    padding: 0;
    margin:0;
}

.nav{
display: flex; 
  justify-content: space-between;
  margin-top:1.5em;
  background-color:#eea539;

}
body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/bowl.jpg")no-repeat center center/cover;
}


input{ 
    
    border-radius: 20px;
    box-shadow: 1px 1px solid gray;
    padding: 2em;
    margin-right: 3em;
} */
.main{
    font-size:1em;
}
.btn{
    padding:30px;
    justify-content: center;
    align-items: center;
    margin-left:50% ;
    margin-top:20%;
}
.images{
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.navigation{
    display: flex;
    gap:7em;
    margin-top: 2%;
}
.footer{
    background-color: #eea539;
}
.p{
    color: white;
    font-size: 2em;
    text-align: center;
}
.footer{
    margin-top:30%;
}